<app-navbar></app-navbar>

<div class="banner"></div>
<div class="market-header">
  <h1 class="marketplace-title"><u>LEGO MARKETPLACE</u></h1>
</div>
<div class="market-items">
  <!--
    <div class="controls">
      <ul>
        <li>
          Most Popular
        </li>
        <li>
          Most Recent
        </li>
        <li>
          Price
        </li>
      </ul>
    </div>
  -->
  <div id="featured" class="container">
    <div class="row"><h2>Featured Designs</h2></div>
    <div class="row">
      <div class="item col-md-3">
        <div class="item-image-box">
          <img class="item-img" src="../../../assets/images/item1.jpg" />
        </div>
        <div class="item-description">
          <p class="description">Lego Castle</p>
          <p class="designer">designed by Samantha Cruz</p>
          <p class="price">$10.99</p>
        </div>
      </div>
      <div class="item col-md-3">
        <div class="item-image-box">
          <img class="item-img" src="../../../assets/images/item2.jpg" />
        </div>
        <div class="item-description">
          <p class="description">Lego Turtle</p>
          <p class="designer">designed by Rick Shell</p>
          <p class="price">$79.99</p>
        </div>
      </div>
      <div class="item col-md-3">
        <div class="item-image-box">
          <img class="item-img" src="../../../assets/images/item3.jpg" />
        </div>
        <div class="item-description">
          <p class="description">Lego IronMan</p>
          <p class="designer">designed by Corinne Langford</p>
          <p class="price">$54.99</p>
        </div>
      </div>
      <div class="item col-md-3">
        <div class="item-image-box">
          <img class="item-img" src="../../../assets/images/item4.jpg" />
        </div>
        <div class="item-description">
          <p class="description">Lego Totoro</p>
          <p class="designer">designed by Lisa Jones</p>
          <p class="price">$119.99</p>
        </div>
      </div>
      <button class="more">Show All</button>
    </div>
  </div>
  <div class="container" id="recently">
    <div class="row"><h2>Your Recently Viewed Items</h2></div>
    <div class="row">
      <div class="item col-md-3">
        <div class="item-image-box">
          <img class="item-img" src="../../../assets/images/item6.jpg" />
        </div>
        <div class="item-description">
          <p class="description">Lego Monkey</p>
          <p class="designer">designed by Rick Shell</p>
          <p class="price">$119.99</p>
        </div>
      </div>
      <div class="item col-md-3">
        <div class="item-image-box">
          <img class="item-img" src="../../../assets/images/item5.jpg" />
        </div>
        <div class="item-description">
          <p class="description">Lego Shark</p>
          <p class="designer">designed by Rick Shell</p>
          <p class="price">$119.99</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="categories">
    <div class="row"><h2>Categories</h2></div>
    <div class="row">
      <div class="category col-md-3">
        <div class="category-img-box">
          <div class="overlay"></div>

          <img class="item-img" src="../../../assets/images/legoRobot.jpeg" />
        </div>
        <div class="category-title"><h2>Robots</h2></div>
      </div>
      <div class="category col-md-3">
        <div class="category-img-box">
          <div class="overlay"></div>

          <img class="item-img" src="../../../assets/images/legoAnimal.jpeg" />
        </div>
        <div class="category-title"><h2>Animals</h2></div>
      </div>
      <div class="category col-md-3">
        <div class="category-img-box">
          <div class="overlay"></div>

          <img class="item-img" src="../../../assets/images/legoSpace.jpg" />
        </div>
        <div class="category-title"><h2>Space</h2></div>
      </div>
      <div class="category col-md-3">
        <div class="category-img-box">
          <div class="overlay"></div>
          <img class="item-img" src="../../../assets/images/legoVehicle.png" />
        </div>
        <div class="category-title"><h2>Vehicles</h2></div>
      </div>
      <button class="more">Show All</button>

    </div>
  </div>
</div>
