<div class="footer container-fluid">
    <div class="row">
      <div class = "footer-section" id="customerService">
        <h5><b>Customer Service</b></h5>
        <h5>Building Instructions</h5>
        <h5>Missing Parts</h5>
        <h5>Common Questions</h5>
        <h5>Your Satsifaction</h5>
      </div>
      <div class = "footer-section" id="aboutUs">
          <h5><b>About Us</b></h5>
          <h5>Responsibility</h5>
          <h5>Jobs</h5>
          <h5>Legal Information</h5>
          <h5>Newsroom</h5>
          <h5>Supply Chain Transparency Statement</h5>
      </div>
      <div class = "footer-section" id="parents">
          <h5><b>Parents</b></h5>
          <h5>Birthday Party Ideas</h5>
          <h5>Building Ideas</h5>
          <h5>Toy Cars</h5>
          <h5>Child Development</h5>
          <h5>Play Ideas</h5>
      </div>
      <div class = "footer-section" id="educators">
        <h5><b>Educators</b></h5>
        <h5>LEGO Education Website</h5>
        <h5>LEGO Education Products</h5>
      </div>
      <div class = "footer-section" id="attractions">
        <h5><b>Attractions</b></h5>
        <h5>LEGO House</h5>
        <h5>LEGOLAND Parks</h5>
        <h5>LEGOLAND Discovery Centers</h5>
      </div>
    </div>
  </div>
