<!-- Image and text -->
<nav class="navbar  navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">
    LM
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#"><svg id = "shopcart-icon" class="l-nav__icon  l-nav__icon--solid-color" width="16" height="16" viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M22.44 26.73a1.17 1.17 0 0 1 0-2.34c.31 0 .6.13.83.35a1.17 1.17 0 0 1-.82 1.99zm-13.05 0a1.17 1.17 0 1 1 0-2.34 1.17 1.17 0 0 1 0 2.34zm3.5-12.85v3.48H9.21l-1.03-3.48h4.7zM6.86 8.54h6.01V12H7.9L6.87 8.54zm7.88 8.82h5.52v-3.48h-5.52v3.48zm0-5.34h5.52V8.54h-5.52v3.48zm7.39 1.86h3.48l-1.07 3.48h-2.41v-3.48zm0-5.34h4.85L25.92 12h-3.78V8.54zm4.22 13.64H8.4l.76-2.09h17.38L30 5.8H6.06l-.74-3.04-.15-.62-.61-.18a2.93 2.93 0 0 0-.13-.04l-2.8-.82-.21-.06a1.12 1.12 0 0 0-1.37.76c-.17.58.15 1.18.73 1.36l2.54.75 3.73 15.72-1.32 3.6.01 1.16h.48a3.39 3.39 0 1 0 6.35 0h6.7a3.39 3.39 0 1 0 6.35 0h.74a1.1 1.1 0 0 0 0-2.21z"></path>
      </svg>SHOP<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MARKETPLACE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SUPPORT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">GAMES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">LEGO LIFE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">VIDEOS</a>
      </li>
    </ul>
  </div>
</nav>
