<app-navbar></app-navbar>
<div class = "container">
  <div class = "row">
    <div class = "col-md-12" id="itemTitle">
      <h4>Lego Tortoise</h4>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-8" id="itemDetails">
      <div class = "itemImage">
        <img src="../../../assets/images/item2">

      </div>
      <div class = "itemDescription">
        <p class ="description">The LEGO Tortoise is designed and inspired by the Galapagos Islands. I read about them, and decided I wanted to make a lifelike version of it.</p>
      </div>
    </div>
    <div class = "col-md-4" id="shopOptions">
        <h2 class = "itemName">Lego Tortoise</h2>
        <h2 class="price">79.99</h2>
    </div>
  </div>
</div>

<app-footer></app-footer>
